.checkBox {
  display: block;
  margin-bottom: 30px;
  padding: 10px;
  color: #636363;
  border-bottom: 1px solid #00000066;
  font-weight: bold;
  cursor: pointer;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
