.main {
  padding: 100px 20px;
}

.main header {
  background: #00ff0044;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main header a {
  font-size: 1.5rem;
  margin-right: 30px;
  text-decoration: none;
  color: #000000aa;
}

.main header a.selected {
  color: #000000ff;
  font-weight: bold;
}