.main {
  padding: 20px;
}

.page {
  padding: 5px 20px;
  margin-bottom: 30px;
  box-shadow: 0 0 20px #00000055;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.main button {
  outline: none;
  border: none;
  border-radius: 5px;
  background: #000088;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 5px 25px;
  margin-bottom: 50px;
  cursor: pointer;
}

.main button:disabled {
  background: #00000088;
  cursor: not-allowed;
}
